.logIn {
  background-color: var(--darkest);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86vh;
}

.logInForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark);
  padding: 20px;
  border: 5px solid var(--light);
  border-radius: 10px;

  width: 40vw;
}

.logInForm label {
  margin: 5px;

  color: var(--light);
  font-size: 20px;
}

.createAccountButton {
  padding: 10px;
}

.button {
  background-color: var(--lightest);
  color: var(--dark);
  border: 2px solid var(--lightest);
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.createButton {
  background-color: var(--lightest);
  color: var(--dark);
  border: 2px solid var(--lightest);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--darkest);
  color: var(--medium);
}

.createButton:hover {
  background-color: var(--light);
  color: var(--darkest);
}
