:root {
  --lightest: #c6c5b9;
  --light: #fdfdff;
  --medium: #62929e;
  --dark: #546a7b;
  --darkest: #393d3f;
}

* {
  font-family: "Rajdhani", sans-serif;
  margin: 0;
  padding: 0;
}

/* button styling */

.button {
  background-color: var(--lightest);
  color: var(--darkest);
  border: 2px solid var(--light);
  padding: 10px 30px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: var(--darkest);
  color: var(--light);
  border: 2px solid var(--lightest);
}

.background {
  min-height: 86vh;
  background-color: var(--darkest);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark);
  padding: 20px;
  border: 5px solid var(--light);
  border-radius: 10px;
  width: 40vw;
  margin-bottom: 35px;
}

.form label {
  margin-bottom: 5px;
  color: var(--lightest);
  font-size: 20px;
}

.custom-input {
  background-color: var(--light);
  margin: 10px 10px 10px 0px;
  width: 30vw;
  border-radius: 10px;
  height: 40px;
}

.custom-input-large {
  background-color: var(--light);
  margin: 10px 10px 10px 0px;
  width: 30vw;
  border-radius: 10px;
  height: 100px;
}

.page-title {
  color: var(--lightest);
  color: var(--lightest);
  display: flex;
  justify-content: center;
  padding: 25px;
}
