

.accInfo {
  color: var(--light);
}
.postsTitle {
  color: var(--lightest);
  margin-top: 20px;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profileCard {
  border-radius: 12px;
  background: var(--dark);
  border: 3px solid var(--light);
  padding: 38px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.profileIcons {
  padding-left: 10px;
}
