.accInfo {
  color: var(--light);
}
.postsTitle {
  color: var(--lightest);
  margin-top: 20px;
}

.profileCard {
  border-radius: 12px;
  background: var(--dark);
  border: 3px solid var(--light);
  padding: 38px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
}

.userTitle {
  color: var(--lightest);
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.userInfo {
  color: var(--lightest);
}
