.accInfo {
  color: var(--light);
}
.postsTitle {
  color: var(--lightest);
  margin-top: 20px;
}

.userTitle {
  color: var(--lightest);
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.userInfo {
  color: var(--lightest);
}

.user-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--lightest);
  background: var(--dark);
  border-radius: 9px;
  padding: 20px;
  width: 35vw;
}
