.postContainer {
  border: 2px solid var(--lightest);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.postInfo {
  color: var(--medium);
}

.commentContainer {
  background: var(--dark);
  border-radius: 15px;
  padding: 10px;
}

.comment {
  border-radius: 15px;
  background: var(--darkest);
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}
.commentData {
  display: flex;
}

.commentAuthor {
  font-weight: bold;
  margin-right: 5px;
  text-decoration: underline;
}

.addCommentContainer {
  display: flex;
  align-items: center;
}
